/* Estilos base para el contenedor principal */
.adminHistory-container {
    padding: 20px;
  }
  
  /* Estilos para dispositivos pequeños */
  @media (max-width: 576px) {
    .adminHistory-container {
      padding: 10px;
    }
  }
  
  /* Estilos para dispositivos medianos y grandes */
  @media (min-width: 577px) {
    .history-container {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  /* Recortar el contenido que no cabe en la columna */
.ant-table-column-title,
.ant-table-column {
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido que no cabe */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando se recorta el contenido */
}

/* En tu archivo CSS o dentro de tu componente */
@media screen and (min-width: 768px) {
  .hide-on-desktop {
    display: none;
  }
}

.adminHistory-container {
  overflow-x: auto;
}
