/* Estilo para cambiar el color del menú */
.menu-horizontal {
  background-color: #e10e17;
}

/* Cambia el color del elemento seleccionado en el menú */
.menu-horizontal .ant-menu-item-selected {
  background-color: #001529 !important; /* Usamos !important para asegurarnos de que esta regla tenga prioridad */
  height: 64px;
}

:where(.css-djtmh8).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-djtmh8).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-submenu-selected,
:where(.css-djtmh8).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-djtmh8).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  height: 64px;
}

/* Ajusta el color del texto de los elementos no seleccionados en el menú para que sea un poco más gris */
.menu-horizontal .ant-menu-item:not(.ant-menu-item-selected) {
  color: #ccc; /* Un gris más claro */
}

/* Estilos para logoUandes */
.logoUandes {
  background-image: url("../../assets/corporativos-uandes-white.png");
  background-size: 50px 10px; /* Tamaño de la imagen */
  background-position: center; /* Centra la imagen verticalmente */
  width: 50px; /* Ancho del contenedor */
  height: 65px; /* Altura del contenedor */
  display: inline-block; /* Para que el contenedor sea del mismo tamaño que el texto */
  vertical-align: middle; /* Centra verticalmente con el texto */
  margin-right: 20px; /* Espacio entre la imagen y el texto (ajusta según sea necesario) */
  float: left; /* Alinea imgUandes a la izquierda */
  background-repeat: no-repeat;
}

:where(.css-djtmh8).ant-menu-dark .ant-menu-item-disabled,
:where(.css-djtmh8).ant-menu-dark > .ant-menu .ant-menu-item-disabled,
:where(.css-djtmh8).ant-menu-dark .ant-menu-submenu-disabled,
:where(.css-djtmh8).ant-menu-dark > .ant-menu .ant-menu-submenu-disabled {
  color: white !important;
}

:where(.css-djtmh8).ant-menu-dark,
:where(.css-djtmh8).ant-menu-dark > .ant-menu {
  color: rgba(255, 255, 255, 0.65);
  background: #e10e17;
}

/* Estilos para dispositivos móviles con un ancho máximo de 767px */
@media (max-width: 767px) {
  /* Estilos para pantallas más pequeñas */
  .saludo-menu {
    display: none;
  }
}

/* Estilos para dispositivos móviles con un ancho máximo de 767px */
@media (max-width: 653px) {
  /* Estilos para pantallas más pequeñas */
  .saludo-menu {
    display: none;
  }
}

.disabled-submenu-item {
  pointer-events: none; /* Evita que se pueda hacer clic en el elemento */
  color: #e10e17; /* Cambia el color del texto a uno gris para indicar deshabilitado */
  font-weight: bold; /* Aplica negrita al texto */
  text-align: center;
}

.mobile-submenu {
  position: relative; /* Establece la posición relativa para controlar el desplazamiento */
}

/* Ajusta la posición del menú desplegable */
.mobile-submenu .ant-menu-submenu-popup {
  position: absolute;
  top: 100%; /* Coloca el menú debajo del elemento padre */
  left: 0; /* Alinea el menú con el borde izquierdo del elemento padre */
  max-height: calc(100vh - 48px); /* Establece una altura máxima para el menú */
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
  width: 100%; /* Asegura que el menú ocupe el ancho completo */
}

.user-profile-container {
  display: flex;
  align-items: center;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f5f5f5; /* o el color institucional de fondo */
}

.ant-layout-header.menu-horizontal {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: none !important;
}

