  /* Estilo para la barra de color en la parte superior */
  .color-bar {
    background-color: #e10e17;
    height: 80px; /* Altura de la barra */
    display: flex; /* Para centrar el contenido verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 24px; /* Tamaño de la fuente */
    color: white; /* Color de la fuente */
  }
  
  /* Estilo para el formulario */
  .form {
    margin: 0 auto; /* Centra el formulario horizontalmente */
    max-width: 600px; /* Ancho máximo del formulario aumentado */
    padding: 40px; /* Espaciado interior del formulario aumentado */
    background-color: #ffffff; /* Color de fondo del formulario */
    border: 1px solid #ddd; /* Borde alrededor del formulario */
    border-radius: 5px; /* Bordes redondeados del formulario */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del formulario */
    margin-top: 20px; /* Espaciado superior entre el último campo de entrada y el botón */
  
    /* Tamaño de fuente aumentado en 2 píxeles */
    font-size: 20px;
  }
  
  /* Estilo para las etiquetas de los campos */
  .form-group label {
    display: block; /* Muestra las etiquetas en una línea separada */
    margin-bottom: 10px; /* Espaciado inferior entre las etiquetas y los campos de entrada */
    margin-top: 15px; /* Espaciado inferior entre las etiquetas y los campos de entrada */
  
    /* Tamaño de fuente aumentado en 2 píxeles */
    font-size: 22px;
  }
  
  /* Estilo para los campos de entrada */
  .form-group input {
    margin-bottom: 10px; /* Espaciado inferior entre los campos de entrada */
  
    /* Tamaño de fuente aumentado en 2 píxeles */
    font-size: 22px;
  }
  
  /* Estilo para los botones */
  .button-group button {
    margin-top: 10px; /* Espaciado superior entre los botones */
    margin-right: 10px; /* Espaciado derecho entre los botones */
    font-size: 20px; /* Tamaño de fuente de los botones reducido */
    text-align: center; /* Centra el texto horizontalmente */
    display: inline-block; /* Permite centrar verticalmente el texto */
    vertical-align: middle; /* Centra el texto verticalmente */
    line-height: 1.5; /* Ajusta el espaciado vertical entre el texto */
    height: 40px; /* Altura del botón */
  }